*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --border-radius: 10px;
}

html, body{
    font-family: 'Space Mono', monospace;
    background-color: hsl(185, 41%, 84%);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper{
    width: 80%;
    margin: 0, auto;
}

.calc{
    width: 100%;
    background-color:hsl(0, 0%, 100%);
    padding:1.5rem;
    border-radius: var(--border-radius);
    box-shadow: 0,0,50px rgb(0,0,0,0.1);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}



.calc-left, .calc-right{
    width: 50%;
    min-height: 100%;
    align-self: stretch;
}

.calc-left{
    margin-right: 20px;
}


.cl-input{
    margin-bottom: 2rem;
}

.cl-input label
.cl-tips-title{
    color: hsl(184, 14%, 56%);
    font-size: 0.8rem;
    margin-bottom: 1px;
}

.form-input{
    width: 100%;
    display: flex;
    background-color: hsl(189, 41%, 97%);
    padding: 0.4rem, 0;
    border-radius: 5px;
    border: 2px solid transparent;
}


.form-input input{
    width: 100%;
    border: none;
    text-align: right;
    background-color:transparent;
    padding-right: 15px;
    font-weight: 700;
    color: hsl(183, 100%, 15%);
}

.form-input input[type-number] ::-webkit-inner-spin-button
.form-input input[type-number] ::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin:0;
}

.form-input :hover,
.form-input :focus-within{
    border: 2px solid hsl(172, 67%, 45%);
}

.form-input{
    width: 100%;
    border: none;
}

.form-input span{
    width: 45px;
    text-align: center;
    color: hsl(184, 14%, 56%);
}

.form-input :hover{
    border: 2px solid hsl(183, 49%, 85%);
}

.form-input{
    border: 2px solid transparent;
}


.cl-tips{
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 0.8rem;
}

.cl-tip{
    background-color:  hsl(183, 100%, 15%);
    color: white;
    font-weight: 700;
    font-size: 1.4rem;
    padding-top: 0.5rem 2rem;
    border-radius: 5px;
    width: 30%;
    text-align: center;
}

.cl-tip-custom{
    background-color: hsl(185, 41%, 84%);
    color:hsl(183, 100%, 15%);
    font-weight: 700;
    font-size: 1.3rem;
    padding-top: 1rem 1rem;
    border-radius: 5px;
    width: 30%;
    text-align: center;
    padding-left: 3%;
}

.calc-right {
    background-color: hsl(183, 100%, 15%);
    padding: 2rem, 1.5rem;
    border-radius: var(--border-radius);
    font-size: 12px;
    align-self: stretch;
    min-height: 100%;
    padding: 2rem 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tip{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.tip-info .tip-title{
    font-size: 0.8rem;
    color: hsl(0, 0%, 100%);
}

.tip-info .tip-subtitle{
    font-size: 0.6rem;
    color: hsl(186, 14%, 43%);
    opacity: 0.5;
}

.center{
    width: 75%;
    display: flex;
    justify-content: center;
    align-self: center;
}
.tip-amount{
    font-size: 2rem;
    color: hsl(184, 14%, 56%);
}

.tip-action{
    margin-top: 4rem;
}

.tip-reset-btn{
    width: 100%;
    border: none;
    border-radius: 5px;
    background-color:hsl(184, 14%, 56%);
    text-transform: uppercase;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    font-family: inherit;
    color:hsl(183, 100%, 15%);
}



  .attribution { font-size: 11px; text-align: center; }
  .attribution a { color: hsl(228, 45%, 44%); }
